.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-bar {
  margin-bottom: 15px;
}

mat-table {
  width: 100%;
}
