<div class="loan-add-container">
  <h2>Loan - Add</h2>
  <mat-card class="card">
    <!-- Agent Details Section -->
    <div class="section">
      <h5>Agent Details</h5>
      <form [formGroup]="agentDetailsForm">
        <!-- Search Bar for Agent Details -->
        <!-- <div class="search-bar">
          <mat-form-field appearance="fill" class="search-field small-search">
            <mat-label>Search Agent</mat-label>
            <input matInput formControlName="agentSearchQuery" placeholder="Enter agent name or ID">
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="searchAgentDetails()">
            <mat-icon>search</mat-icon>
          </button>
        </div> -->
        <!-- Agent Details Fields -->
        <div class="fields-row">
          <mat-form-field appearance="fill">
            <mat-label>Agent Name</mat-label>
            <input formControlName="agentName" matInput required>
          </mat-form-field>
          <mat-icon (click)="openAgentSearch()">search</mat-icon>
          <mat-form-field appearance="fill">
            <mat-label>Agent ID</mat-label>
            <input formControlName="agentId" matInput required>
            <!-- <mat-select formControlName="agentId" required>
              <mat-option *ngFor="let agent of agentIddropdown" [value]="agent.id">
                {{ agent.name }}
              </mat-option>
            </mat-select> -->
          </mat-form-field>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Agent Lead</mat-label>
            <mat-select formControlName="agentLead" required>
              <mat-option *ngFor="let agent of agentLead" [value]="agent.id">
                {{ agent.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
      </form>
    </div>

    <!-- Customer Details Section -->
    <div class="section">
      <h5>Customer Details</h5>
      <form [formGroup]="customerDetailsForm">
        <!-- Search Bar for Customer Details -->
        <!-- <div class="search-bar">
          <mat-form-field appearance="fill" class="search-field small-search">
            <mat-label>Search Customer</mat-label>
            <input matInput formControlName="customerSearchQuery" placeholder="Enter customer name or ID">
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="searchCustomerDetails()">
            <mat-icon>search</mat-icon>
          </button>
        </div> -->
        <!-- Customer Details Fields -->
        <div class="fields-row">
          <mat-form-field appearance="fill">
            <mat-label>Customer IC/Passport</mat-label>
            <input formControlName="customerId" matInput required>
          </mat-form-field>
          <mat-icon (click)="openCustomerSearch()">search</mat-icon>
          <mat-form-field appearance="fill">
            <mat-label>Customer Name</mat-label>
            <input formControlName="customerName" matInput required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Mobile</mat-label>
            <input formControlName="mobile" matInput type="tel" required>
          </mat-form-field>
        </div>
      </form>
    </div>

    <!-- Loan Details Section -->
    <div class="section">
      <h5>Loan Details</h5>
      <form [formGroup]="loanDetailsForm">
        <div class="fields-row">
          <mat-form-field appearance="fill">
            <mat-label>Principal Amount</mat-label>
            <input formControlName="principalAmount" matInput type="number">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Deposit Amount</mat-label>
            <input formControlName="depositAmount" matInput type="number">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Application Fees</mat-label>
            <input formControlName="applicationFee" matInput type="number">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Payment Upfront</mat-label>
            <input formControlName="paymentUpfront" matInput type="number">
          </mat-form-field>
        </div>
        <div class="fields-row">
          <mat-form-field appearance="fill">
            <mat-label>Unit Date Period</mat-label>
            <mat-select formControlName="unitofDate" required>
              <mat-option *ngFor="let unit of dateUnit" [value]="unit.unit">
                {{ unit.unit }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Date Period</mat-label>
            <input formControlName="datePeriod" matInput type="number">
          </mat-form-field>

          <mat-form-field appearance="fill" class="quarter-width">
            <mat-label>Interest (%)</mat-label>
            <input formControlName="interest" matInput type="number">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Repayment Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="repaymentDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="fields-row">
          <mat-form-field appearance="fill" class="quarter-width">
            <mat-label>Amount Given</mat-label>
            <input formControlName="amountGiven" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill" class="quarter-width">
            <mat-label>Interest Amount</mat-label>
            <input formControlName="interestAmount" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill" class="quarter-width">
            <mat-label>Payment Per Term</mat-label>
            <input formControlName="paymentPerTerm" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill" class="quarter-width">
            <mat-label>Loan Remark</mat-label>
            <input formControlName="loanRemark" matInput>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card>

  <!-- Footer Buttons -->
  <div class="action-buttons">
    <button mat-stroked-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveLoan()" [disabled]="userRole === 'AGENT'">>Save</button>
  </div>
</div>
