.loan-add-container {
    padding: 16px;
  
    h2 {
      color: #545a72;
    }
  
    .card {
      padding: 20px;
      margin-bottom: 20px;
    }
  
    .section {
      margin-bottom: 20px;
    }
  
    .fields-row {
      display: flex;
      gap: 16px;
      justify-content: space-between;
  
      mat-form-field {
        flex: 1;
      }
    }
  
    .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
  
      button {
        margin-left: 8px;
      }
    }
  }
  