.loan-add-container {
    padding: 16px;
  
    h2 {
      color: #545a72;
    }
  
    .card {
      padding: 20px;
      margin-bottom: 20px;
    }
  
    .section {
      margin-bottom: 20px;
    }
  
    .fields-row {
      display: flex;
      gap: 16px;
      justify-content: space-between;
  
      mat-form-field {
        flex: 1;
      }
    }
  
    .action-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
    }

    .clickable-icon {
      cursor: pointer;
      color: #1976d2; // Blue color for the clickable icon
    }
    
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between search field and button */
  }
  
  .search-field.small-search {
    width: 25%; /* Set search field to 25% width */
  }
  
  button {
    height: 40px; /* Adjust button height if necessary */
  }
  
  