<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer opened class="example-sidenav" mode="side">
    <div class="logo-container">
      <img src="assets/logo.jpeg" alt="Logo" class="menu-logo">
    </div>
  
    <a class="menu-item" [routerLink]="['users']" routerLinkActive="router-link-active" *ngIf="!checkUsers">
      <mat-icon>person</mat-icon>
      Users
    </a>
  
    <a class="menu-item" [routerLink]="['listing']" routerLinkActive="router-link-active">
      <mat-icon>group</mat-icon>
      Customer
    </a>

    <a class="menu-item" [routerLink]="['loan']" routerLinkActive="router-link-active">
      <mat-icon>money</mat-icon>
      Loan
    </a>

    <a class="menu-item" [routerLink]="['customer-check']" routerLinkActive="router-link-active">
      <mat-icon>group</mat-icon>
      Customer Check
    </a>

    <a class="menu-item" [routerLink]="['payment']" routerLinkActive="router-link-active">
      <mat-icon>money</mat-icon>
      Payment 
    </a>
  </mat-drawer>

  <mat-toolbar class="mat-toolbar">
    <button mat-icon-button (click)="drawer.toggle()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span class="app-title">My App</span>
    
    <span class="spacer"></span> <!-- This pushes everything after it to the right -->
    
    <div class="profile-section">
      <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-button">
        <mat-icon>account_circle</mat-icon>
        {{userName}}
      </button>
      <mat-menu #profileMenu="matMenu" class="profile-menu">
        <button mat-menu-item (click)="changePassword()">
          <mat-icon>vpn_key</mat-icon>
          Change Password
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>