.loan-management-container {
  padding: 16px;

  .header-section {
    margin-bottom: 16px;

    .breadcrumb {
      font-size: 14px;
      //color: #757575;
      margin-bottom: 8px;

      h4 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 500;
        //color: #545a72;
      }
    }

    .controls-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;

      .search-filter-group {
        display: flex;
        align-items: center;
        flex-grow: 1;

        .search-input {
          flex: 1;
          margin-right: 10px;
        }

        .filter-btn {
          height: 56px; // Match input field height
        }
      }

      .add-btn-container {
        margin-left: 16px;
      }
    }
  }

  .table-wrapper {
    border-radius: 4px;
    overflow: hidden;

    .table-responsive {
      overflow-x: auto;

      .loan-table {
        width: 100%;

        .mat-header-cell {
          color: #757575;
          font-weight: bold;
          background-color: #f5f5f5;
        }

        .mat-cell {
          color: #333;
        }

        .actions-cell {
          white-space: nowrap;

          .action-buttons {
            display: flex;
            gap: 8px;
          }
        }
      }
    }

    .custom-paginator {
      border-top: 1px solid #e0e0e0;
    }
  }
  
  table {

    th {
      background: #2c3e50; // Dark blue for header
      color: white; // Text color
    }
    td {   
      color: #333; // Text color
    }
    tr:hover td {
      background: #f1f1f1; // Hover effect for rows
    }
  }
}