<div class="user-management-container">
  <nav class="breadcrumb">
    <h4>Loan Check</h4>
  </nav>

  <form [formGroup]="form" (ngSubmit)="fetchData()" class="search-row">
    <mat-form-field appearance="outline">
      <mat-label>Select Agents</mat-label>
      <mat-select
        formControlName="agents"
        multiple
        (openedChange)="onSelectOpened()"
        (selectionChange)="onAgentSelectionChange($event)"
      >
        <!-- Select All / Deselect All Option -->
        <mat-option [value]="selectAllValue" (click)="toggleSelectAll($event)">
          {{ isAllSelected() ? "Deselect All" : "Select All" }}
        </mat-option>

        <!-- Agent Options -->
        <mat-option *ngFor="let agent of agents()" [value]="agent.id">
          {{ agent.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date From</mat-label>
      <input matInput [matDatepicker]="pickerFrom" formControlName="dateFrom" />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerFrom"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date To</mat-label>
      <input matInput [matDatepicker]="pickerTo" formControlName="dateTo" />
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Search</button>
  </form>
  <div *ngIf="selectedAgentIds().length > 0" class="selected-agents">
    <mat-chip *ngFor="let id of selectedAgentIds()">
      {{ getAgentNameById(id) }}
    </mat-chip>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 full-width"
  >
    <ng-container matColumnDef="agent">
      <th mat-header-cell *matHeaderCellDef>Agent</th>
      <td mat-cell *matCellDef="let row" [ngClass]="getRowClass(row)">
        {{ row.agent }}
      </td>
    </ng-container>

    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef>Customer Name</th>
      <td mat-cell *matCellDef="let row" [ngClass]="getRowClass(row)">
        {{ row.customerName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="customerIC">
      <th mat-header-cell *matHeaderCellDef>Customer IC</th>
      <td mat-cell *matCellDef="let row" [ngClass]="getRowClass(row)">
        {{ row.customerIC }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef>Installment Due Date</th>
      <td mat-cell *matCellDef="let row" [ngClass]="getRowClass(row)">
        {{ row.dueDate | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dueAmount">
      <th mat-header-cell *matHeaderCellDef>Installment Due Amount</th>
      <td mat-cell *matCellDef="let row" [ngClass]="getRowClass(row)">
        RM {{ row.dueAmount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="remark">
      <th mat-header-cell *matHeaderCellDef>Remark</th>
      <td mat-cell *matCellDef="let row" [ngClass]="getRowClass(row)">
        {{ row.remark || "-" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
  [length]="totalCount"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 20, 30]"
  [pageIndex]="currentPage"
  (page)="onPageChange($event)"
  #paginator>
</mat-paginator>
</div>
