.row {
    margin: 0;
    padding: 0;
  }
  
  .col-sm-12 {
    margin-bottom: 20px;
  }
  
  .col-sm-6 {
    padding: 0 10px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .d-flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .mat-elevation-z8 {
    margin: 20px 0;
    border-radius: 4px;
  }
  
  table.mat-table {
    width: 100%;
  }
  
  .mat-header-cell, .mat-cell {
    padding: 8px;
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  