
<div class="customer-form">
  <mat-card>
    <mat-card-title>Customer - Add</mat-card-title>
    <mat-card-content>
      <!-- Customer Details -->
      <h6 class="heading-text">Customer Details</h6>
      <form [formGroup]="customerForm" class="form-seperate">
        <div class="form-row">
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter name" formControlName="name">
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>IC</mat-label>
            <input matInput type="text" maxlength="12" placeholder="Enter IC" formControlName="ic">
            <mat-error *ngIf="customerForm.hasError('eitherFieldRequired')">
              Either IC or Passport is required.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Passport</mat-label>
            <input matInput placeholder="Enter Passport" formControlName="passport">
            <mat-error *ngIf="customerForm.hasError('eitherFieldRequired')">
              Either IC or Passport is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Race</mat-label>
            <mat-select formControlName="race" placeholder="Select Race">
              <mat-option *ngFor="let race of race" [value]="race">
                {{ race }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Marital Status</mat-label>
            <mat-select formControlName="marital_status">
              <mat-option value="single">Single</mat-option>
              <mat-option value="married">Married</mat-option>
              <mat-option value="divorced">Divorced</mat-option>
              <mat-option value="widowed">Widowed</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>No. of Child</mat-label>
            <input matInput type="number" placeholder="Enter No. of Child" formControlName="no_of_child">
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Car Plate</mat-label>
            <input matInput placeholder="Enter Car Plate" formControlName="car_plate">
          </mat-form-field>
        </div>
      
        <div class="form-row">
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter Email" formControlName="email">
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Telephone</mat-label>
            <input matInput placeholder="Enter Telephone" formControlName="tel_no">
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="quarter-width">
            <mat-label>Mobile</mat-label>
            <input matInput placeholder="Enter Mobile" formControlName="mobile_no">
          </mat-form-field>
        </div>
      </form>
      
      
      <!-- Tabs for Other Sections -->
      <mat-tab-group class="form-seperate">
        <mat-tab label="Address & Contact">
          <form [formGroup]="customerAddressForm">
            <h6 class="heading-text" style="margin-bottom: 10px;">Customer Address</h6>
          
            <!-- Address Line (Half width) -->
            <div class="form-row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Address Lines</mat-label>
                <textarea matInput placeholder="Enter Address Line" formControlName="perm_address_line"></textarea>
              </mat-form-field>
          
              <mat-form-field class="quarter-width">
                <mat-label>Postal Code</mat-label>
                <input matInput formControlName="perm_postal_code" placeholder="Postal Code" />
              </mat-form-field>

              <mat-form-field class="one-fifth-width">
                <mat-label>Country</mat-label>
                <mat-select formControlName="perm_country" (selectionChange)="onCountryChange($event.value)">
                  <mat-option *ngFor="let country of countries" [value]="country.id">
                    {{ country.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
             
            </div>
          
            <!-- Row with 4 fields -->
            <div class="form-row">
              <mat-form-field class="one-fifth-width">
                <mat-label>State</mat-label>
                <mat-select formControlName="perm_state" (selectionChange)="onStateChange($event.value)">
                  <mat-option *ngFor="let state of states" [value]="state.id">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
              <mat-form-field class="quarter-width">
                <mat-label>City</mat-label>
                <mat-select formControlName="perm_city">
                  <mat-option *ngFor="let city of cities" [value]="city.id">
                    {{ city.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
              <!-- <mat-form-field appearance="outline" class="one-fifth-width">
                <mat-label>Telephone</mat-label>
                <input matInput placeholder="Enter Telephone" formControlName="cus_tel_no">
              </mat-form-field>
          
              <mat-form-field appearance="outline" class="one-fifth-width">
                <mat-label>Mobile</mat-label>
                <input matInput placeholder="Enter Mobile" formControlName="cus_mobile">
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="one-fifth-width">
                <mat-label>Staying Since</mat-label>
                <input matInput type="date" formControlName="staying_since">
              </mat-form-field>
            </div>
          
            <!-- Staying Since (Full width) -->
            <!-- <div class="form-row">
              
            </div> -->
          
            <!-- Checkbox -->
            <div class="col-sm-12">
              <input type="checkbox" formControlName="cus_same_as_permanent" /> Correspondence address same as Permanent Address
            </div>
          
            <h6 class="heading-text">Correspondence Address</h6>
          
            <!-- Correspondence Address Line (Half width) -->
            <div class="form-row">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Address Lines</mat-label>
                <textarea matInput placeholder="Enter Address Line" formControlName="corr_address_line"></textarea>
              </mat-form-field>
          
              <mat-form-field class="quarter-width">
                <mat-label>Postal Code</mat-label>
                <input matInput formControlName="corr_postal_code" placeholder="Postal Code" />
              </mat-form-field>

              <mat-form-field class="quarter-width">
                <mat-label>Country</mat-label>
                <mat-select formControlName="corr_country" (selectionChange)="onCountryChange($event.value)">
                  <mat-option *ngFor="let country of countries" [value]="country.id">
                    {{ country.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
             
            </div>
          
            <!-- Correspondence Address Row with 4 fields -->
            <div class="form-row">
              <mat-form-field class="quarter-width">
                <mat-label>State</mat-label>
                <mat-select formControlName="corr_state" (selectionChange)="onStateChange($event.value)">
                  <mat-option *ngFor="let state of states" [value]="state.id">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
              <mat-form-field class="quarter-width">
                <mat-label>City</mat-label>
                <mat-select formControlName="corr_city">
                  <mat-option *ngFor="let city of cities" [value]="city.id">
                    {{ city.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
          

          <!-- <div class="action-buttons">
            <button mat-raised-button color="primary" (click)="onCustomerSubmit()">Save</button>
            <button mat-raised-button>Cancel</button>
          </div> -->
        </mat-tab>

        <mat-tab label="Employment & Company"> <form [formGroup]="customerEmployemntForm" class="m-2" >
          <div class="row m-3">
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Annual Income</mat-label>
                <input matInput formControlName="annual_income" placeholder="Annual Income" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Business Type</mat-label>
                <input matInput formControlName="business_type" placeholder="Business Type" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Department</mat-label>
                <input matInput formControlName="department" placeholder="Department" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Employee No</mat-label>
                <input matInput formControlName="employee_no" placeholder="Employee No" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Employee Type</mat-label>
                <input matInput formControlName="employee_type" placeholder="Employee Type" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Income Date</mat-label>
                <input matInput formControlName="income_date" placeholder="Income Date" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Income Type</mat-label>
                <input matInput formControlName="income_type" placeholder="Income Type" />
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Employment Name</mat-label>
                <input matInput formControlName="employment_name" placeholder="Name" />
              </mat-form-field>
            </div> -->
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Occupation Category</mat-label>
                <input matInput formControlName="occupation_category" placeholder="Occupation Category" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Position</mat-label>
                <input matInput formControlName="position" placeholder="Position" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Remarks</mat-label>
                <input matInput formControlName="employment_remarks" placeholder="Remarks" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Telecode</mat-label>
                <input matInput formControlName="telecode" placeholder="Telecode" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Telephone No</mat-label>
                <input matInput formControlName="telephone_no" placeholder="Telephone No" />
              </mat-form-field>
            </div>
          </div>
          <!-- <div class="action-buttons">
            <div class="col-sm-12 d-flex flex-row-reverse">
              <button mat-raised-button type="submit" color="primary">Submit</button>
            </div>
          </div> -->
          </form></mat-tab>
        <mat-tab label="Family & Guarantor">
          <form [formGroup]="customerRelationshipForm" class="m-2">

            <div class="row m-3">
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="relationship_name" placeholder="Name" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>IC</mat-label>
                  <input matInput formControlName="relationship_ic" placeholder="IC" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Mobile No</mat-label>
                  <input matInput formControlName="relationship_mobile_no" placeholder="Mobile No" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Passport</mat-label>
                  <input matInput formControlName="relationship_passport" placeholder="Passport" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="relationship_gender">
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Relationship</mat-label>
                  <mat-select formControlName="relationship">
                    <mat-option value="father">Father</mat-option>
                    <mat-option value="mother">Mother</mat-option>
                    <mat-option value="hushband">Hushband</mat-option>
                    <mat-option value="wife">Wife</mat-option>
                    <mat-option value="brother">Brother</mat-option>
                    <mat-option value="sister">Sister</mat-option>
                    <mat-option value="sister">Child</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
      
              <!-- Permanent Address -->
              <div class="col-sm-12">
                <h5>Permanent Address</h5>
              </div>
              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Address Lines</mat-label>
                  <textarea matInput placeholder="Enter Address Line" formControlName="perm_address_line"></textarea>
                </mat-form-field>
              </div>
              <!-- Country, State, City -->
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Postal Code</mat-label>
                  <input matInput formControlName="perm_postal_code" placeholder="Postal Code" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="perm_country" (selectionChange)="onCountryChange($event.value)">
                    <mat-option *ngFor="let country of countries" [value]="country.id">
                      {{ country.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>State</mat-label>
                  <mat-select formControlName="perm_state" (selectionChange)="onStateChange($event.value)">
                    <mat-option *ngFor="let state of states" [value]="state.id">
                      {{ state.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>City</mat-label>
                  <mat-select formControlName="perm_city">
                    <mat-option *ngFor="let city of cities" [value]="city.id">
                      {{ city.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
      
              <!-- Correspondence Address -->
              <div class="col-sm-12">
                <input type="checkbox" formControlName="same_as_permanent" />Same as Permanent Address
                <!-- <mat-checkbox formControlName="same_as_permanent">Same as Permanent Address</mat-checkbox> -->
              </div>
              <div *ngIf="!customerRelationshipForm.get('same_as_permanent')?.value">
                <div class="col-sm-12">
                  <h5>Correspondence Address</h5>
                </div>
              
                <!-- Address Line, Postal Code, Country Row -->
                <div class="row">
                  <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Address Lines</mat-label>
                      <textarea matInput placeholder="Enter Address Line" formControlName="corr_address_line"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-label>Postal Code</mat-label>
                      <input matInput formControlName="corr_rel_postal_code" placeholder="Postal Code" />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-label>Country</mat-label>
                      <mat-select formControlName="corr_country" (selectionChange)="onCountryChange($event.value)">
                        <mat-option *ngFor="let country of countries" [value]="country.id">
                          {{ country.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              
                <!-- State, City Row -->
                <div class="row">
                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-label>State</mat-label>
                      <mat-select formControlName="corr_state" (selectionChange)="onStateChange($event.value)">
                        <mat-option *ngFor="let state of states" [value]="state.id">
                          {{ state.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-label>City</mat-label>
                      <mat-select formControlName="corr_city">
                        <mat-option *ngFor="let city of cities" [value]="city.id">
                          {{ city.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-sm-12 d-flex flex-row-reverse">
                <button mat-raised-button color="primary" type ="submit" (click)="onCustomerRelationSave()" >Insert</button>
                
              </div>
            </div>  
          </form>
      
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
          
              <!-- IC Column -->
              <ng-container matColumnDef="ic">
                <th mat-header-cell *matHeaderCellDef>IC</th>
                <td mat-cell *matCellDef="let element">{{ element.ic }}</td>
              </ng-container>
          
              <!-- Passport Column -->
              <ng-container matColumnDef="passport">
                <th mat-header-cell *matHeaderCellDef>Passport</th>
                <td mat-cell *matCellDef="let element">{{ element.passport }}</td>
              </ng-container>
          
              <!-- Address Line Column -->
              <ng-container matColumnDef="address_lines">
                <th mat-header-cell *matHeaderCellDef>Address Line</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.customer_address[0]?.address_lines }}
                </td>
              </ng-container>
          
              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let record">
                  <button mat-button color="accent" (click)="onRowClick(record)">Edit</button>
                  <button mat-button color="warn" (click)="onRowDelete(record)">Delete</button>
                </td>
              </ng-container>
          
              <!-- Table Rows -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsForRelationshipForm"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsForRelationshipForm"
              ></tr>
            </table>
          
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
            >
            </mat-paginator>
          </div>
          
        </mat-tab>

        <mat-tab label="Banking">
          <form [formGroup]="bankingForm" class="m-2">
            <h6>Bank Info</h6>
            <div class="row m-3">
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Bank Name</mat-label>
                  <input matInput formControlName="bankName" placeholder="Bank Name" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Account No</mat-label>
                  <input matInput formControlName="accountNo" placeholder="Account No" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Bank Holder</mat-label>
                  <input matInput formControlName="bankHolder" placeholder="Bank Holder Name" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Bank Card</mat-label>
                  <input matInput formControlName="bankCard" placeholder="Bank Card" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Pin No</mat-label>
                  <input matInput formControlName="pinNo" placeholder="Pin No" />
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Remarks</mat-label>
                  <input matInput formControlName="remark" placeholder="Remarks" />
                </mat-form-field>
              </div>
              <div class="col-sm-3 d-flex justify-content-end">
                <button mat-raised-button type="submit" color="primary" [disabled]="bankingForm.invalid" (click)="onBankingSubmit()">Insert</button>
              </div>
            </div>
          </form>
        
          <h3>Bank Records</h3>
          <table mat-table [dataSource]="bankDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="bankName">
              <th mat-header-cell *matHeaderCellDef> Bank Name </th>
              <td mat-cell *matCellDef="let record" [formGroup]="record">
                <input matInput formControlName="bankName" />
              </td>
            </ng-container>
        
            <ng-container matColumnDef="accountNo">
              <th mat-header-cell *matHeaderCellDef> Account No </th>
              <td mat-cell *matCellDef="let record" [formGroup]="record">
                <input matInput formControlName="accountNo" />
              </td>
            </ng-container>
        
            <ng-container matColumnDef="bankHolder">
              <th mat-header-cell *matHeaderCellDef> Bank Holder </th>
              <td mat-cell *matCellDef="let record" [formGroup]="record">
                <input matInput formControlName="bankHolder" />
              </td>
            </ng-container>
        
            <ng-container matColumnDef="bankCard">
              <th mat-header-cell *matHeaderCellDef> Bank Card </th>
              <td mat-cell *matCellDef="let record" [formGroup]="record">
                <input matInput formControlName="bankCard" />
              </td>
            </ng-container>
        
            <ng-container matColumnDef="pinNo">
              <th mat-header-cell *matHeaderCellDef> Pin No </th>
              <td mat-cell *matCellDef="let record" [formGroup]="record">
                <input matInput formControlName="pinNo" />
              </td>
            </ng-container>
        
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let record">
                <button mat-button color="accent" (click)="onBankEdit(record)">Edit</button>
                <button mat-button color="warn" (click)="onBankDelete(record)">Delete</button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumnsBank"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsBank;"></tr>
          </table>
        </mat-tab>
        

        <mat-tab label="Documents">
          <div [formGroup]="documentsForm" class="documents-tab">
            <!-- Upload Section -->
            <div class="upload-container">
              <label for="fileUpload" class="upload-label">Upload File or Drag & Drop</label>
              <input
                type="file"
                formControlName="fileUpload"
                id="fileUpload"
                (change)="onFileChange($event)"
              />
        
              <mat-form-field class="file-name-field">
                <mat-label>File description</mat-label>
                <input type="text" matInput formControlName="fileDescription" />
              </mat-form-field>
        
              <div class="button-container">
                <button mat-raised-button color="primary" (click)="addDocumentRecord()">Upload File</button>
                <button mat-button color="warn" (click)="clearForm()">Clear</button>
              </div>
            </div>
        
            <!-- Table Section -->
            <div class="table-container" *ngIf="uploadedFiles.length > 0">
              <table mat-table [dataSource]="uploadedFiles" class="mat-elevation-z8">
                <!-- File Name Column -->
                <ng-container matColumnDef="fileName">
                  <th mat-header-cell *matHeaderCellDef>File Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.fileName }}</td>
                </ng-container>
        
                <!-- File Description Column -->
                <ng-container matColumnDef="fileDescription">
                  <th mat-header-cell *matHeaderCellDef>File Description</th>
                  <td mat-cell *matCellDef="let element">{{ element.fileDescription }}</td>
                </ng-container>

                <ng-container matColumnDef="fileSize">
                  <th mat-header-cell *matHeaderCellDef>File Size</th>
                  <td mat-cell *matCellDef="let element">{{ element.fileSize }}</td>
                </ng-container>

                <ng-container matColumnDef="fileType">
                  <th mat-header-cell *matHeaderCellDef>File Type</th>
                  <td mat-cell *matCellDef="let element">{{ element.fileType }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let record">
                    <button mat-button color="accent" (click)="onFileEdit(record)">Edit</button>
                    <button mat-button color="warn" (click)="onBankDelete(record)">Delete</button>
                  </td>
                </ng-container>
        
                <!-- Table Header -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <!-- Table Row -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        
              <!-- <div class="save-button-container">
                <button mat-raised-button color="accent" (click)="saveAllDocuments()">Save</button>
              </div> -->
            </div>
          </div>
        </mat-tab>
        

      </mat-tab-group>

      <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="onMasterSubmit()">Save</button>
        <button mat-raised-button (click)="masterCancel()">Cancel</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>